xcshareddata/
xcuserdata/
Checkouts/
Carthage/
Carthage
Pods/*
DerivedData/


**/*-LICENSE
*-LICENSE
**/LICENSE
LICENSE

**/.DS_Store
**/*.md
**/*.zip
.DS_Store
.build
*.xcworkspace
*.md
*.zip
*.generated.swift

4VAA4FJFLY.cer
HTT258M44M.cer
fastlane/report.xml
fastlane/Appfile
*.ipa
Podfile.lock
Gemfile.lock
R.generated.swift
elm.log
elm.log.*
R.generated.swift
